:local(.toggle) {
  background-color: #ccc;
  padding: 2px;
  display: inline-block;
  width: 60px;
  height: 35px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  input {
    /* Disable the HTML input */
    opacity: 0;  
  }
  &:before {
    position: absolute;
    content: "";
    height: 70%;
    width: 35%;
    left: 10%;
    top: 15%;
    background-color: white;
  }
}

:local(.toggled) {
  background-color: #2196F3;
  &:before {
    position: absolute;
    content: "";
    height: 70%;
    width: 35%;
    left: 55%;
    top: 15%;
    background-color: white;
  }
}