$primary-color: #0073a6;

$original-white: #fff;
$original-black: #000;

$secondary-violet: #007bff;
$secondary-grey: #6c757d;
$secondary-light-grey: #bdbdbd;
$secondary-green: #28a745;
$secondary-red: #dc3545;
$secondary-yellow: #ffc107;
$secondary-blue: #17a2b8;
$secondary-white: #f8f9fa;
$secondary-black: #343a40;


$primary-hover: #ddd;