$primary-color: #0073a6;

$original-white: #fff;
$original-black: #000;

$secondary-violet: #007bff;
$secondary-grey: #6c757d;
$secondary-light-grey: #bdbdbd;
$secondary-green: #28a745;
$secondary-red: #dc3545;
$secondary-yellow: #ffc107;
$secondary-blue: #17a2b8;
$secondary-white: #f8f9fa;
$secondary-black: #343a40;

$input-active-item: rgba(71, 233, 243, 0.2);
$input-bottom-border: #6c757d;
$primary-input-active-border: #47e9f3;
$secondary-input-active-border: #d8d8d8;
$dropdown-menu-shadow: 1px 1px 1px 2px rgba(233, 226, 226, 0.5), 0 1px 1px 0 rgba(194, 194, 194, 0.5);
:root {
  --orange-yellow: #ffa500;
  --bright-cyan: #47e9f3;
  --very-light-pink: #d8d8d8;
  --cool-blue: #2c87d7;
  --cool-green: #32ba6d;
  --battleship-grey: #6c757d;
  --brown-grey: #a5a5a5;
  --white: #ffffff;
  --light-navy: #195284;
  --darkish-green: #24844e;
  --aqua: #0ecbd7;
  --golden-brown: #bb7900;
  --charcoal-grey: #454a4f;
  --white: #ffffff;
  --cranberry: #9d0038;
  --cool-blue-75: rgba(44, 135, 215, 0.75);
  --very-light-pink-75: rgba(216, 216, 216, 0.75);
  --cool-green-75: rgba(50, 186, 109, 0.75);
  --dark-hot-pink: #e10050;
  --bright-cyan-75: rgba(71, 233, 243, 0.75);
  --orange-yellow-75: rgba(255, 165, 0, 0.75);
  --dark-hot-pink-76: rgba(225, 0, 80, 0.76);
  --battleship-grey-75: rgba(108, 117, 125, 0.75);
  --white: #ffffff;
  --very-light-pink-50: rgba(216, 216, 216, 0.5);
  --cool-blue-51: rgba(44, 135, 215, 0.51);
  --cool-green-50: rgba(50, 186, 109, 0.5);
  --bright-cyan-50: rgba(71, 233, 243, 0.5);
  --orange-yellow-50: rgba(255, 165, 0, 0.5);
  --battleship-grey-50: rgba(108, 117, 125, 0.5);
  --very-light-pink-20: rgba(216, 216, 216, 0.2);
  --white: #ffffff;
  --cool-blue-21: rgba(44, 135, 215, 0.21);
  --cool-green-20: rgba(50, 186, 109, 0.2);
  --bright-cyan-20: rgba(71, 233, 243, 0.2);
  --dark-hot-pink-20: rgba(225, 0, 80, 0.2);
  --orange-yellow-20: rgba(255, 165, 0, 0.2);
  --battleship-grey-20: rgba(108, 117, 125, 0.2);
  --white: #ffffff;
  --dark-hot-pink-50: rgba(225, 0, 80, 0.5);
}
