$primary-color: #0073a6;

$original-white: #fff;
$original-black: #000;

$secondary-violet: #007bff;
$secondary-grey: #6c757d;
$secondary-light-grey: #bdbdbd;
$secondary-green: #28a745;
$secondary-red: #dc3545;
$secondary-yellow: #ffc107;
$secondary-blue: #17a2b8;
$secondary-white: #f8f9fa;
$secondary-black: #343a40;

$input-active-item: rgba(71, 233, 243, 0.2);
$input-bottom-border: #6c757d;
$primary-input-active-border: #47e9f3;
$secondary-input-active-border: #d8d8d8;
$dropdown-menu-shadow: 1px 1px 1px 2px rgba(233, 226, 226, 0.5), 0 1px 1px 0 rgba(194, 194, 194, 0.5);
