@font-face {
    font-family: "fontello";
    src: url("./fontello.woff");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right {
    transform: scale(-1);
}

.icon-left:before {
    content: "\e802";
}

.icon-right:before {
    content: "\e802";
}

.icon-cross:before {
    content: "\e807";
}

.icon-menu:before {
    content: '\e800';
}

.icon-expand-more:before {
    content: '\e803';
}

.icon-tick:before {
    content: '\e806';
}

.icon-expand-less:before {
    content: '\e808';
}