:local(.code) {
  width: 50%;
  padding: 1px;
  margin: 0 auto;

  .header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .sub-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .js-code {
    padding: 15px;
    background: #e2e2e2;
    margin-bottom: 20px;
    min-width: 300px;
  }

  .empty-div {
    height: 200px;
  }
}