@import '../globals/theme';

:local(.snackbar) {
  background: $primary-color;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &:not(.active) {
    transform: translateY(100%);
  }

  &.active {
    transform: translateY(0%);
  }
}