@import '../globals/theme';

:local(.snackbarWrapper) {
  position: fixed;
  z-index: 9999;
  width: 100%;
  right: 0;
  transition: transform 0.4s;
  &.top {
    top: 10%;
    &:not(.active) {
      transform: translateY(-1000%);
    }

    &.active {
      transform: translateY(0%);
    }
  }
  &.bottom {
    bottom: 10%;
    &:not(.active) {
      transform: translateY(1000%);
    }

    &.active {
      transform: translateY(0%);
    }
  }
}

:local(.snackbar) {
  background: $primary-color;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 0 auto;
  width: 40%;
  box-shadow: 2px 2px 4px #33333352;
}
