:local(.slider) {
    height: 5px;
    border-radius: 5px;
    width: 20vw;
    background-color: #d8d8d8;
    display: flex;
    padding: 0;
}

:local(.slider-button) {
    align-self: center;
    border-radius: 50%;
    min-height: 15px !important;
    min-width: 15px !important;
    background-color: #47e9f3;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &:active {
        box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.5);
        & + div {
            display: flex;
        }
    }
}

:local(.slider-tracker) {
    display: flex;
    height: 100%;
    width: 0;
    justify-content: flex-end;
    background-color: #47e9f3;
    position: relative;
}

:local(.slider-offset) {
    display: flex;
    height: 100%;
    width: 0;
    justify-content: flex-end;
    position: relative;
}

:local(.tooltip) {
    box-sizing: border-box;
    display: none;
    flex-flow: column;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.65);
    color: white;
    z-index: 2;
    top: -35px;
    padding: 0 2%;
    border-radius: 5px;
    width: 1.5em;
    min-width: fit-content;
    text-align: center;

    div {
        height: 0;
        width: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba($color: #000000, $alpha: 0.65);
        position: absolute;
        left: 25%;
        bottom: -5px;
    }
}