@import '../common/styles.scss';

:local(.home-page) {
  margin-top: 150px;
  .title {
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 45px;
  }
  .about {
    margin: 40px auto;
    width: 60%;
    font-size: 20px;
    color: $primary-dark-font;
  }
  .advantage-section {
    margin: 30px auto;
    width: 90%;
    .advantage-wrapper {
      padding: 0px 15px;
      .advantage {
        height: 160px;
        padding: 10px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        // border-radius: 5px;

        .header {
          font-weight: bold;
          text-align: center;
          padding-top: 5px;
          font-size: 20px;
        }

        .content {
          margin-top: 20px;
          font-size: 15px;
          ul {
            li {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}