:local(.label) {
  color: #144c52;
}

:local(.checkbox) {
  border-color: #8b104e;
  .check-item {
    border-color: #8b104e !important;
  }
}


:local(.inverted) {
  background-color: #8b104e !important;
  .check-item {
    border-color: #fefefe !important;
  }
}