.navbar {
  height: 4rem;
  z-index: 3;

  a {
    text-decoration: none;
    color: white;
  }
}

.navbar-extended {
  div[class*=innerWrapper] {
    max-width: 100vw !important;
  }
}

#layout {
  max-width: 1280px;
  margin: auto;
}

.active-link {
  background: transparent;
  &::after {
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      background: #e09b2d
  }
}