:local(.modal-backdrop) {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    animation: fadein 0.2s linear;
    box-sizing: border-box;

    @keyframes fadein {
        0% { opacity: 0; }
        10% { opacity: 0.1; }
        20% { opacity: 0.2; }
        30% { opacity: 0.3; }
        40% { opacity: 0.4; }
        50% { opacity: 0.5; }
        60% { opacity: 0.6; }
        70% { opacity: 0.7; }
        80% { opacity: 0.8; }
        90% { opacity: 0.9; }
        100% { opacity: 1; }
    }
}

:local(.modal) {
    padding: 1%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    background: white;
    width: 50%;
    height: 50%;
    position: relative;
    flex-flow: column;
    border-radius: 2px;
    box-sizing: border-box;

    :local(.modal-title) {
        padding: 1% 0%;
        font-weight: bold;
        box-sizing: border-box;
    }
    
    :local(.modal-body) {
        box-sizing: border-box;
    }

    :local(.modal-footer) {
        width: 100%;
        padding: 1% 2%;
        position: absolute;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
    }
}

:local(.d-block) {
    display: flex;
}

:local(.d-none) {
    display: none;
}

:local(.close) {
    width: fit-content;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    
    &::before, &::after{
        content:'';
        position:absolute;
        width: 15px;
        height: 4px;
        background-color: #aaa;
        border-radius:2px;
        top: 8px;
        right: 0;
        box-shadow:0 0 2px 0 #ccc;
    }
    
    &::before{
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg);
    }
    &::after{
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg);
    }
}