.landing-main {
    padding-top: 5rem;
    font-family: 'Roboto';
    .row {
        padding: 1.5em;
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        .col {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            color: #454a4f;

            h2 {
                margin: 0;
            }

            p {
                font-size: 1em;
                font-weight: bold;
            }

            img {
                height: 120px;
                width: 120px;
                margin: auto;
            }
        }

    }

    .row:nth-child(2) {
        padding-left: 15%;
        padding-right: 15%;
    }

    .screens {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 5rem 10rem 1rem 10rem;

        img {
            height: auto;
            width: auto;
        }

        &+.row {
            p {
                margin: 0;
                font-family: 'Roboto';
                font-size: 1.5em;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
        }
    }
}