.landing-main {
    padding-top: 2rem;
    font-family: 'Roboto';
    .row {
        padding: 1.5em;
        display: flex;
        flex-flow: row;
        justify-content: space-around;

        .col {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            color: #454a4f;

            h2 {
                margin: 0;
            }

            p {
                font-size: 1em;
                font-weight: bold;
            }

            img {
                height: 120px;
                width: 120px;
                margin: auto;
            }
        }

    }

    .row:nth-child(2) {
        padding-left: 15%;
        padding-right: 15%;
    }

    .screens {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding: 5rem 10rem 1rem 10rem;

        img {
            height: auto;
            width: auto;
        }

        &+.row {
            p {
                margin-top: 0;
                font-family: 'Roboto';
                font-size: 1.5em;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
        }
    }
    .contrib-section {
        box-sizing: border-box;
        background-image: linear-gradient(110deg, #0d37c9, rgba(36, 181, 205, 0.94) 100%, #34427a);
        margin-top: 3rem;
        
        .overlay {
            height: 5rem;
            background-color: white;
            transform:skew(0deg,5deg);
            -ms-transform:skew(0deg,10deg);
            -webkit-transform:skew(0deg,5deg); 
        }

        .card-content {

        }
    }
}