.four-o-four-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px 30px;
  box-sizing: border-box;
  .four-o-four-bg {
    width: 300px;
    height: 400px;
  }
  a {
    text-decoration: none;
  }
  p {
    font-size: 20px;
    color: #032c63;
  }
  h1 {
    color: #e46c6c;
    margin-top: 0;
    text-transform: capitalize;
  }
  .four-o-four-content {
    color: #5d597e;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    a {
      font-weight: bold;
      text-transform: uppercase;
      color: #5ba5eb;
      &:hover {
        background-color: #fff;
      }
    }
  }
}