@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
}

.hero-container {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    background-image: linear-gradient(110deg, #0d37c9, rgba(36, 181, 205, 0.94) 100%, #34427a);
    position: relative;
    overflow: hidden;

    img {
        height: 129px;
        width: 119px;
    }
    
    .hero-content {
        text-align: center;
        color: white;
        position: absolute;
        width: 100vw;
        height: 70%;
        top: 23%;
        font-family: 'Roboto';
        
        h2 {
            font-size: 2.5em;
            letter-spacing: 0.1px;
            margin: 0;
            margin-top: 0.5em;
            font-weight: 500;
        }

        p {
            margin: 0;
            font-size: 1.4em;
            font-weight: bold;
            letter-spacing: normal;
        }
    }

    .hero-bottom{
        position: absolute;
        bottom: -5rem !important;
        background: white;
        width: 100vw;
        height: 10rem;
        -webkit-transform: skewY(-6deg);
        -moz-transform: skewY(-6deg);
        -ms-transform: skewY(-6deg);
        -o-transform: skewY(-6deg);
        transform: skewY(-6deg);
    }
}

body {
    margin: 0;
}