.playround-container {
    position: relative;
    top: 6.3rem;
}

.playground-error {
    // margin: 0.5em;
    * {
      background: #d681817a;
      padding: 0.5em;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0.2em;
    }
    margin: 0 10%;
    min-height: 2.5em;
    display: flex !important;
}

.playground-preview {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 1em 10%;
}

.prism-code {
    color: #8a908c !important;
    background-color: #fff !important;
    box-shadow: 2px 2px 0.5px 3px #d2d2d2;
    border-radius: 0.2em;
}

.playground-navigation {
    display: flex;
    flex-direction: row;
    padding: 1em;
    box-sizing: border-box;
    justify-content: space-between;
    @media only screen and (max-width: 592px){
      flex-direction: column;
    }
    & > div {
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: 592px){
        margin: 0.2em auto;
        align-items: center;
      }

      & > span {
        padding: 0.5em 0;
        color: #adb3af;
        font-size: 0.79em;
      }
    }
  }

.token.operator,
.token.boolean,
.token.number {
  color: #c76b29 !important;
}

.token.property {
  color: #c08b30 !important;
}

.token.tag {
  color: #3d8fd1 !important;
}

.token.string {
  color: #22a2c9 !important;
}

.token.selector {
  color: #6679cc !important;
}

.token.attr-name {
  color: #c76b29 !important;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #22a2c9 !important;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #ac9739 !important;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #22a2c9 !important;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1 !important;
}

.playground-editor  {
    margin: 0 10% !important;
    overflow: scroll;
    &::before {
        content: '// Edit the code here and preview the changes above.';
        display: flex;
        padding: 1rem;
        font-weight: 600;
        color: #adb3af;
        font-size: 1em;
    }
}