:local(.bar) {
    width: 250px;
    height: 0.5em;
    background-color: rgba($color: #6c757d, $alpha: 0.5);
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    position: relative;
    &>.text {
        position: absolute;
        color: white;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 0.75em;
        font-size: 0.5em;
        font-weight: bolder;
    }
}

:local(.progress) {
    height: 100%;
    width: 0%;
}

:local(.primary) {
    background-color: #47e9f3;
}

:local(.secondary) {
    background-color: #ffa500;
}

:local(.success) {
    background-color: #32ba6d;
}