:local(.bar) {
  width: 250px;
  height: 0.5em;
  background-color: rgba($color: #6c757d, $alpha: 0.5);
  border-radius: 0.5em;
  overflow: hidden;
}

:local(.progress) {
  height: 100%;
  width: 0%;
}

:local(.primary) {
  background-color: #47e9f3;
}
