:local(.drawer) {
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
    background: white;
    z-index: 900;
    transition: 0.3s ease-in-out;
    padding: 1%;
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.21);
    position: fixed;
}

:local(.left),
:local(.right) {
    height: 100%;
    width: 17em;
    align-self: center;
    top: 0;
}

:local(.left-open) {
    left: 0;
}

:local(.left-close) {
    left: -17em;
}

:local(.right-open) {
    right: 0;
}

:local(.right-close) {
    right: -17em;
}

:local(.top),
:local(.bottom) {
    width: 100%;
    height: auto;
    left: 0;
}

:local(.top-open) {
    top: 0;
}

:local(.top-close) {
    top: 0;
    margin-top: -100%;
}

:local(.bottom-open) {
    bottom: 0;
}

:local(.bottom-close) {
    bottom: 0;
    margin-bottom: -100%;
}