:local(.select) {
  :local(.border-animation) {
    &::after {
        background-color: #73ff00 !important;
    }
  }
}

:local(.option) {
  &:hover {
    background-color: rgba($color: #73ff00, $alpha: 0.4) !important;
  }
}

:local(.selected) {
  div {
    background-color: #f0ece2;
    div {
      background-color: #f0ece2;
    }
  }
}

:local(.selected-option) {
  background-color: #73ff00;
  color: #fff;
}