@import '../globals/theme';
:local(.navbarWrapper) {
  box-sizing: border-box;
  width: 100%;
  min-height: 65px;
  padding-left: 3%;
  padding-right: 3%;
  .clearfix {
    clear: both;
  }
}
:local(.innerWrapper) {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  min-height: 65px;
  width: 100%;
  position: relative;
}
:local(.leftContent),
:local(.rightContent) {
  display: flex;
  align-items: center;

}
:local(.title) {
  font-size: 20px;
  font-weight: 600;
  margin-right: 15px;
  white-space: nowrap;
}
:local(.leftIcon),
:local(.rightIcon) {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    max-width: 20px;
    max-height: 20px;
    fill: $original-white;
  }
}
:local(.leftIcon) {
  margin-right: 15px;
}
:local(.rightIcon) {
  margin-left: 15px;
}
:local(.fixedPosition) {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
}
:local(.absolutePosition) {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}
:local(.stickyPosition) {
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
}
:local(.relativePosition) {
  position: relative;
}
:local(.defaultColor) {
  background-color: $secondary-violet;
  color: $original-white;
  box-shadow: 0px 5px 8px -2px $secondary-grey;
}
:local(.flat) {
  box-shadow: none;
}