@import '../common/styles.scss';

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Raleway';
}

:local(.navbar) {
  z-index: 10;
  position: fixed;
  min-height: 75px;
  width: 100%;
  top: 0;
  background-color: $primary-blue;
  margin: 0;
  color: $primary-white;
  font-size: 20px;
  font-weight: bold;
  .full-height {
    height: 100%;
  }
  .center-align {
    text-align: center;
  }
  .parent-row {
    min-height: 75px;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    &.logo {
      padding-left: 15px;
    }
    &.title {
      margin-left: 10px;
      font-size: 30px;
    }
    &.nav-link {
      font-size: 18px;
      a {
        color: $primary-white;
        text-decoration: none;
        &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
        }
        display: block;
        min-height: 35px;
        span {
          &.active {
            padding-bottom: 2px;
            border-bottom: 2px solid $primary-yellow;
          }
        }
      }
    }
  }
}

