:local(.navbarWrapper) {
    background-image: linear-gradient(110deg, #0d37c9, rgba(36, 181, 205, 0.94) 100%, #34427a);
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
    height: 100px;
    z-index: 5;
}

:local(.innerWrapper) {
    max-width: 1280px;
    height: 100%;
    margin: auto;
}

:local(.navbarMobileMenu) {
    background-image: linear-gradient(110deg, #0d37c9, rgba(36, 181, 205, 0.94) 100%, #34427a);
}

:local(.leftIcon) {
  margin-right: 0;
  img {
    height: 3rem;
  }
}

:local(.leftContent) {
  padding-left: 0.5rem;
}
