@import '../globals/theme';

:local(.button) {
  align-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 1px 0px 8px 1px rgba($color: #000000, $alpha: 0.5);
  border-radius: 3px;

  &:hover {
    box-shadow: 1px 0px 11px 2px rgba($color: #000000, $alpha: 0.5);
  }

  &:active {
    box-shadow: 1px 0px 5px 1px rgba($color: #000000, $alpha: 0.5);
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background: rgba($color: #000000, $alpha: 0.27);
    }
  }

  & > .rippleWrapper {
    overflow: hidden;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

:local(.icon) {
  font-size: 120%;
}

:local(.icon-left) {
  float: left;
  margin-right: 6px;
}

:local(.icon-right) {
  margin-left: 6px;
  float: right;
}

:local(.small) {
  font-size: 11px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  min-width: 70px;
}

:local(.medium) {
  font-size: 13px;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  min-width: 90px;
}

:local(.large) {
  font-size: 18px;
  height: 52px;
  line-height: 52px;
  padding: 0 20px;
  min-width: 130px;
}

:local(.default) {
  color: $original-black;
  background-color: $original-white;
  border-color: $original-white;
}

:local(.primary) {
  color: $original-white;
  background-color: $secondary-violet;
  border-color: $secondary-violet;
}

:local(.secondary) {
  color: $original-white;
  background-color: $secondary-grey;
  border-color: $secondary-grey;
}

:local(.success) {
  color: $original-white;
  background-color: $secondary-green;
  border-color: $secondary-green;
}

:local(.danger) {
  color: $original-white;
  background-color: $secondary-red;
  border-color: $secondary-red;
}

:local(.warning) {
  color: $secondary-black;
  background-color: $secondary-yellow;
  border-color: $secondary-yellow;
}

:local(.info) {
  color: $original-white;
  background-color: $secondary-blue;
  border-color: $secondary-blue;
}

:local(.light) {
  color: $secondary-black;
  background-color: $secondary-white;
  border-color: $secondary-white;
}

:local(.dark) {
  color: $original-white;
  background-color: $secondary-black;
  border-color: $secondary-black;
}
