@import '../globals/theme';
:local(.button) {
    align-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    text-transform: capitalize;
    flex-wrap: nowrap;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 0;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(163, 152, 152, 0.5), 0 3px 4px 0 rgba(168, 160, 160, 0.5);
    border-radius: 6px;
    &:active {
        box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.07), 0 2px 6px 0 rgba(163, 152, 152, 0.5), -5px 8px 10px 0 rgba(168, 160, 160, 0.5);
    }
    &>.rippleWrapper {
        overflow: hidden;
    }
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.6;
    }
    &.flat {
        box-shadow: none;
    }
}

:local(.buttonWrapper) {
    text-decoration: none;
}

:local(.iconButtonWrapper) {
  width: 58px !important;
  height: 58px !important;
}
:local(.iconButton) {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5) !important;
  &:active  {
    box-shadow: 0 2px 9px 4px $very-light-pink-75, 0 2px 4px 2px rgba(0, 0, 0, 0.5) !important;
  }
  & > * {
    max-height: 30px;
    max-width: 30px;
  }
  // reset the default margin added by icon-left class
  & > *:first-child {
    margin-right: 0 !important;
  }
}

:local(.icon) {
    font-size: 0.65em;
}

:local(.icon-left) {
    flex-direction: row;
    & > *:first-child {
      margin-right: 8px;
    }
}

:local(.icon-right) {
    flex-direction: row-reverse;
    & > *:last-child {
      margin-left: 8px;
    }
}

:local(.small) {
    height: 33px;
    min-width: 100px;
    font-size: 0.9rem;
    padding: 0.5em 1em;
}

:local(.medium) {
    height: 44px;
    min-width: 125px;
    font-size: 1rem;
    padding: 0.7em 1.6em;
}

:local(.large) {
    height: 60px;
    min-width: 150px;
    font-size: 1.1rem;
    padding: 0.9em 1.9em;
}

:local(.primary) {
    color: $white;
    fill: $white;
    background-color: $cool-blue;
    &:hover {
        background-color: $light-navy;
    }
}

:local(.secondary) {
    color: $charcoal-grey;
    fill: $charcoal-grey;
    background-color: $very-light-pink;
    &:hover {
        background-color: $brown-grey;
    }
}

:local(.success) {
    color: $white;
    fill: $white;
    background-color: $cool-green;
    &:hover {
        background-color: $darkish-green;
    }
}

:local(.danger) {
    color: $white;
    fill: $white;
    background-color: $dark-hot-pink;
    &:hover {
        background-color: $cranberry;
    }
}

:local(.warning) {
    color: $charcoal-grey;
    fill: $charcoal-grey;
    background-color: $orange-yellow;
    &:hover {
        background-color: $golden-brown;
    }
}

:local(.info) {
    color: $white;
    fill: $white;
    background-color: $bright-cyan;
    &:hover {
        background-color: $aqua;
    }
}

:local(.dark) {
    color: $white;
    fill: $white;
    background-color: $battleship-grey;
    &:hover {
        background-color: $charcoal-grey;
    }
    &:active {
        background-color: $charcoal-grey;
    }
}

/* Bordered Buttons */

:local(.primaryBordered),
:local(.primaryBorderless) {
    color: $cool-blue;
    fill: $cool-blue;
    background-color: $white;
    &:hover {
        background-color: $cool-blue-21;
    }
}

:local(.primaryBordered) {
    border: 1px solid $cool-blue;
}

:local(.secondaryBordered),
:local(.secondaryBorderless) {
    color: $charcoal-grey;
    fill: $charcoal-grey;
    background-color: $white;
    &:hover {
        background-color: $very-light-pink-50;
    }
}

:local(.secondaryBordered) {
    border: 1px solid $brown-grey;
}

:local(.successBordered),
:local(.successBorderless) {
    color: $cool-green;
    fill: $cool-green;
    background-color: $white;
    &:hover {
        background-color: $cool-green-20;
    }
}

:local(.successBordered) {
    border: 1px solid $cool-green;
}

:local(.dangerBordered),
:local(.dangerBorderless) {
    color: $dark-hot-pink;
    fill: $dark-hot-pink;
    background-color: $white;
    &:hover {
        background-color: $dark-hot-pink-20;
    }
}

:local(.dangerBordered) {
    border: 1px solid $dark-hot-pink;
}

:local(.warningBordered),
:local(.warningBorderless) {
    color: $orange-yellow;
    fill: $orange-yellow;
    background-color: $white;
    &:hover {
        background-color: $orange-yellow-20;
    }
}

:local(.warningBordered) {
    border: 1px solid $orange-yellow;
}

:local(.infoBordered),
:local(.infoBorderless) {
    color: $bright-cyan;
    fill: $bright-cyan;
    background-color: $white;
    &:hover {
        background-color: $bright-cyan-20;
    }
}

:local(.infoBordered) {
    border: 1px solid $bright-cyan;
}

:local(.darkBordered),
:local(.darkBorderless) {
    color: $battleship-grey;
    fill: $battleship-grey;
    background-color: $white;
    &:hover {
        background-color: $battleship-grey-20;
    }
}

:local(.darkBordered) {
    border: 1px solid $battleship-grey;
}