@import '../globals/theme';

:local(.button) {
  align-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.07),
              0 2px 4px 0 rgba(163, 152, 152, 0.5),
              0 3px 4px 0 rgba(168, 160, 160, 0.5);
  border-radius: 6px;

  &:active {
    // box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.07),
    //             0 2px 6px 0 rgba(163, 152, 152, 0.5),
    //             -5px 8px 10px 0 rgba(168, 160, 160, 0.5);
    box-shadow: none;
  }

  & > .rippleWrapper {
    overflow: hidden;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
  &.flat {
    box-shadow: none;
  }
}

:local(.icon) {
  font-size: 120%;
}

:local(.icon-left) {
  float: left;
  margin-right: 6px;
}

:local(.icon-right) {
  margin-left: 6px;
  float: right;
}

:local(.small) {
  font-size: 14px;
  min-height: 33px;
  line-height: 19px;
  padding: 7px 22px;
  min-width: 100px;
}

:local(.medium) {
  font-size: 16px;
  min-height: 44px;
  line-height: 19px;
  padding: 11px 26px;
  min-width: 125px;
}

:local(.large) {
  font-size: 18px;
  min-height: 60px;
  line-height: 19px;
  padding: 15px 30px;
  min-width: 150px;
}

:local(.primary) {
  color: var(--white);
  background-color: var(--cool-blue);
  &:hover {
    background-color: var(--light-navy);
  }
}

:local(.secondary) {
  color: var(--charcoal-grey);
  background-color: var(--very-light-pink);
  &:hover {
    background-color: var(--brown-grey);
  }
}

:local(.success) {
  color: var(--white);
  background-color: var(--cool-green);
  &:hover {
    background-color: var(--darkish-green);
  }
}

:local(.danger) {
  color: var(--white);
  background-color: var(--dark-hot-pink);
  &:hover {
    background-color: var(--cranberry);
  }
}

:local(.warning) {
  color: var(--charcoal-grey);
  background-color: var(--orange-yellow);
  &:hover {
    background-color: var(--golden-brown);
  }
}

:local(.info) {
  color: var(--white);
  background-color: var(--bright-cyan);
  &:hover {
    background-color: var(--aqua);
  }
}

:local(.dark) {
  color: var(--white);
  background-color: var(--battleship-grey);
  &:hover {
    background-color: var(--charcoal-grey);
  }
  &:active {
    background-color: var(--charcoal-grey);
  }
}

/* Bordered Buttons */
:local(.primaryBordered) {
  color: var(--cool-blue);
  background-color: var(--white);
  border: 1px solid var(--cool-blue);
  &:hover {
    background-color: var(--cool-blue-21);
  }
}

:local(.secondaryBordered) {
  color: var(--charcoal-grey);
  background-color: var(--white);
  border: 1px solid var(--brown-grey);
  &:hover {
    background-color: var(--very-light-pink-50);
  }
}

:local(.successBordered) {
  color: var(--cool-green);
  background-color: var(--white);
  border: 1px solid var(--cool-green);
  &:hover {
    background-color: var(--cool-green-20);
  }
}

:local(.dangerBordered) {
  color: var(--dark-hot-pink);
  background-color: var(--white);
  border: 1px solid var(--dark-hot-pink);
  &:hover {
    background-color: var(--dark-hot-pink-20);
  }
}

:local(.warningBordered) {
  color: var(--orange-yellow);
  background-color: var(--white);
  border: 1px solid var(--orange-yellow);
  &:hover {
    background-color: var(--orange-yellow-20);
  }
}

:local(.infoBordered) {
  color: var(--bright-cyan);
  background-color: var(--white);
  border: 1px solid var(--bright-cyan);
  &:hover {
    background-color: var(--bright-cyan-20);
  }
}

:local(.darkBordered) {
  color: var(--battleship-grey);
  background-color: var(--white);
  border: 1px solid var(--battleship-grey);
  &:hover {
    background-color: var(--battleship-grey-20);
  }
}
