@import '../globals/theme';

.sizing {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

:local(.avatar) {
  @extend .sizing;
  background-color: $secondary-grey;

  img {
    @extend .sizing;
  }
}

:local(.avatarContent) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: $secondary-white;
}