@import '../globals/_colors';
@import '../globals/_mixins';

.sizing {
  @include spacing(6, width);
  @include spacing(6, height);
  border-radius: 50%;
}

:local(.avatar) {
  @extend .sizing;
  background-color: $secondary-grey;

  img {
    @extend .sizing;
  }
}

:local(.avatarContent) {
  @include flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: $secondary-white;
  @include spacing(4, font-size);
}