$primary-blue: #0073a6;
$primary-white: #ffffff;
$primary-grey: #d2d2d2;
$primary-yellow: #ffd54c;
$primary-thick-grey: #9ca0a3;
$primary-dark-font: #454545;
$battleship-grey: #6c757d;
$bright-cyan-20: rgba(71, 233, 243, 0.2);