:local(.cardFooter) {
    justify-content: center;
    margin-top: 4rem;
    align-self: baseline;
}

:local(.cardHeader) {
    color: #0c549c;
    margin-bottom: 2rem;
    text-align: center;
    height: 3rem;
}

:local(.card) {
    flex: 1;
    margin: 3rem;
    padding: 1.5rem;
    z-index: 2;
    height: fit-content;
    transition: margin 0.2s ease-in-out;

    &:hover {
        margin-top: -3rem;
    }
}

:local(.button) {
    background: #f9552a;
    color: white;
}