@media only screen and (max-width: 790px) {
    .row {
        flex-flow: column !important;
    }

    .contrib-section > .row > .col {
      margin-left: 15% !important;
      margin-right: 15% !important;
    }
}

@media only screen and (max-width: 530px) {
    .row {
        padding: 2rem !important;
    }
}

.col {
    margin: 1rem !important;
    flex-flow: column;
}

.card-content {
    img {
        max-width: 100% !important;
        height: auto;
    }
}

div.contrib-section>div:nth-child(3) {
    flex-direction: column;
    div {
        display: flex;
        flex-direction: column;
        color: rgb(228, 228, 228);
        font-weight: bold;
        align-items: center;
        width: 100%;
        background-color: transparent !important;
        &>* {
            margin-top: 2%;
        }
    }
    .bottom-bar {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        justify-content: center;
        width: 100%;
        color: rgb(228, 228, 228);
        & > * {
          margin: 0 0.2em;
          color: rgb(228, 228, 228);
        }

        & > span {
          color: rgb(196, 50, 5);
        }
    }
}
