@import '../globals/theme';

:local(.radio-group) {
  input {
    position: relative;
    opacity: 0;
    cursor: pointer;
  }
  .clearfix {
    clear: both;
  }
}

:local(.each-radio) {
  &.inline {
    float: left;
    margin-right: 25px;
  }
  margin-bottom: 15px;
}

:local(.each-label) {
  margin-left: 10px;
  cursor: pointer;
}

:local(.customized-radio) {
  border: 3px solid $secondary-grey;
  border-radius: 50%;
  padding: 3px;
  .inner {
    border-radius: 50%;
    &.checked {
      background: $secondary-blue;
    }
  }
}