@import '../globals/theme';

:local(.radio-group) {
  display: flex;
  flex-direction: column;
  &.inline {
    flex-direction: row !important;
  }
  input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    margin: 3px;
  }
  /* Fixes width issue in safari */
  @media not all and (min-resolution:.001dpcm) {
    input {
      width: 13px;
    }
  }
}

:local(.each-radio) {
  padding: 0.4em;
  box-sizing: border-box;
}

:local(.each-label) {
  margin-left: 0.7em;
  cursor: pointer;
}

:local(.customized-radio) {
  border: 3px solid $secondary-grey;
  border-radius: 50%;
  padding: 3px;
  .inner {
    border-radius: 50%;
    &.checked {
      background: $secondary-blue;
    }
  }
}