@import '../globals/colors';

:local(.inputWrapper) {
  padding: 5px;
}

:local(.inputElement) {
  padding-bottom: 10px;
  background-color: var(--input-text-background-color);
  border-bottom: 1px solid $original-black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 16px;
  display: block;
  outline: none;

  &:focus {
    border-bottom-color: $primary-color;
  }
}

:local(.disabled) {
  border-bottom: 3px solid rgba($color: $original-black, $alpha: 0.3);
  cursor: not-allowed;
}
