@import '../globals/theme';

:local(.inputWrapper) { 
  padding: 5px; 
}

:local(.inputElement) { 
  background-color: var(--input-text-background-color); 
  border-bottom: 3px solid $original-black; 
  border-left: 0; 
  border-right: 0; 
  border-top: 0; 
  font-size: 16px; 
  display: block; 
  outline: none;

  &:focus {
    border-bottom-color: $primary-color;
  }
}