:local(.menu) {
    color: #8b79da;
}

:local(.menuitem) {
    &:hover {
        background-color: #b3abd69c;
        color: white;

        :local(.arrow) {
            border-color: white;
        }
    }
}

:local(.arrow) {
    border-color: #8b79da;
}