@import '../globals/_theme.scss';
@import '../globals/animations.scss';
@import '../globals/common.scss';

:local(.autocomplete) {
    @include customScroll();
    width: 20vw;
    font-family: Roboto;
    position: relative;
    :local(.input-container) {
        min-width: 100%;
        position: relative;
        :local(.autocomplete-input) {
            box-sizing: border-box;
            padding: 2% 2%;
            width: 100%;
            font-size: 1rem;
            border: none;
            border-bottom: 2px solid $input-bottom-border;
            outline: none;
            &:focus {
                border-bottom: 2px solid $secondary-input-active-border;
            }
        }
    }


    :local(.autocomplete-list) {

        box-sizing: border-box;
        height: 45vh;
        width: 100%;
        overflow-y: auto;
        box-shadow: $dropdown-menu-shadow;
        border-radius: 2px;
        margin-top: 10px;
        position: absolute;
        background-color: white;

        @include sectionEntry(0.25s);
        
        :local(.autocomplete-list-item) {
            display: block;
            box-sizing: border-box;
            cursor: pointer;
            padding: 2% 2%;
            box-shadow: none;
            &:hover {
                background-color: $input-active-item;
            }
        }
        :local(.item-hover) {
            background-color: $input-active-item;
        }
    }
}

:local(.border-animation) {
    &::after {
        content: '';
        display: block;
        background-color: $primary-input-active-border !important;
        height: 2px;
        @include inputFocus();
        animation-duration: 0.3s;
        animation-timing-function: linear;
        margin-top: -2px;
        position: relative;
        /* Safari only style */
        @media not all and (min-resolution:.001dpcm) {
          bottom: 2px;
        }
    }
}