:local(.playground-preview) {
  position: fixed;
  height: 100%;
  width: 60%;
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 10px 25px;
  }
}

:local(.playground) {
  position: fixed;
  left: 15%;
  width: 40%;
  height: 100%;
  .doc-enabler {
    margin: 40px auto;
    width: 40%;
    .switch {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}

:local(.preview) {
  .header {
    font-size: 24px;
    font-weight: bold;
  }
  position: fixed;
  left: 60%;
  width: 35%;
  height: 100%;
}
