:local(.playground-preview) {
  .prism-code {
    white-space: pre-wrap !important;
  }
  .code-editor {
    width: 50%;
    float: left;
  }

  .code-preview {
    width: 45%;
    float: left;
    margin-left: 15px;
    .error {
      color: red;  
    }
  }
  
  .doc-enabler {
    text-align: center;
    margin-top: 40px;
  }
}
