/* Safari 4.0 - 8.0 */
@-webkit-keyframes open {
  from {width: 0%;}
  to {width: 45%;}
}

/* Standard syntax */
@keyframes open {
  from {width: 0%;}
  to {width: 45%;}
}

:local(.documentation) {
  position: fixed;
  padding: 5px 20px 50px 20px;
  right: 0%;
  top: 78px;
  height: 100%;
  width: 0%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  background: #ffffff;
  overflow: scroll;
  .header {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
  }
  .content {
    font-size: 12px;
    table, th, td {
      border: 1px solid #d2d2d2;
      border-collapse: collapse;
    }
    .hljs {
      padding: 15px 0px;
      background: #f1f1f1;
    }
  }
  
  &.active {
    width: 45%;
    -webkit-animation: open 0.5s; /* Safari 4.0 - 8.0 */
    animation: open 0.5s;
    button {
      left: -55px;
    }
  }
  
  .docs-btn {
    button {
      border-radius: 50%;
      padding: 30px 25px;
      position: absolute;
      right: -45px;
      top: 2%;
    }
  }

  .empty-div {
    height: 100px;
  }
}

