:local(.select) {
  :local(.border-animation) {
    &::after {
        background-color: #3b2c85 !important;
    }
  }
}

:local(.option) {
  &:hover {
    background-color: rgba($color: #0b409c, $alpha: 0.4) !important;
  }
}

:local(.selected) {
  input {
    color: #0b409c;
  }
}