@import '../globals/_colors';
@import '../globals/_mixins';

:local(.badge-container) {
    @include flex;
    position: relative;
    width: fit-content;
    box-sizing: border-box;
    @include spacing(1/8, padding, '%');
    /* For IE bug on badge position ( due to container spreading
    *  across the available width ) since IE doesn't support fit-content for width. 
    */
    float: left; 
}

:local(.badge-container-small) {
    @include spacing(0.16, padding, '%');
}

:local(.badge-container-medium) {
    @include spacing(0.3, padding, '%');
}

:local(.badge-container-large) {
    @include spacing(0.4, padding, '%');
}

:local(.badge) {
    @include flex(true);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $secondary-red;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    min-width: fit-content;
    padding: 1px;
    font-family: 'Helvetica';
}

:local(.small) {
    @include spacing(0.1, font-size, em);
    @include spacing(0.16, height, em);
    @include spacing(0.16, width, em);
}

:local(.medium) {
    @include spacing(0.11, font-size, em);
    @include spacing(0.2, height, em);
    @include spacing(0.2, width, em);
}

:local(.large) {
    @include spacing(0.1, font-size, em);
    @include spacing(0.24, height, em);
    @include spacing(0.24, width, em);
}