:local(.badge-container) {
    display: flex;
    position: relative;
    width: fit-content;
    box-sizing: border-box;
    padding: 1%;
    /* For IE bug on badge position ( due to container spreading
    *  across the available width ) since IE doesn't support fit-content for width. 
    */
    float: left; 
}

.clearfix {
  clear: both;
}

:local(.badge-container-small) {
    padding: 10px;
}

:local(.badge-container-medium) {
    padding: 15px;
}

:local(.badge-container-large) {
    padding: 20px;
}

:local(.badge) {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    min-width: fit-content;
    padding: 1px;
    font-family: 'Helvetica';

    & > .fadeOut {
        opacity: 0;
    }
    
    & > span {
        opacity: 1;
        transition: opacity 200ms ease-in-out;
    }
}

:local(.small) {
    font-size: 0.7em;
    height: 1.4em;
    width: 1.4em;
}

:local(.medium) {
    font-size: 0.85em;
    height: 1.7em;
    width: 1.7em;
}

:local(.large) {
    font-size: 1em;
    height: 2em;
    width: 2em;
}